body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(235, 232, 232);
}

.logo{
    display: flex;
}

img{
    width: 10%;
    margin-top: 0;
    position: absolute;
    top: -50px;
}

.caixaTexto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    margin-top: 45%;
}

.caixaTexto input{
    width: 50%;
    height: 70px;
    border-radius: 20px;
    border: 1px solid;
    padding-left: 10px;
    font-size: 20px;
}

.caixaTexto button{
    position: absolute;
    margin-left: 45%;
    border: 1px solid;
    font-size: 18px;
    border-radius: 10px;
}


