body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 600px;
    height: 650px;
    border-radius: 20px;
    padding: 20px;
    box-shadow:
        -5px 0 10px rgba(0, 0, 0, 0.15),
        7px 0 10px rgba(0, 0, 0, 0.15),
        0 -5px 10px rgba(0, 0, 0, 0.15),
        0 7px 10px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    margin: 0 auto;
}

.titleConteudo,
.titleConteudoColor {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleConteudoColor {
    color: #ff6200;
}

.textGray {
    text-align: center;
    color: #a6a6a6;
    font-size: 15px;
}

.button {
    width: 250px;
    height: 60px;
    background-color: #ff9500;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    font-size: 22.2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
    box-shadow: 5px 5px 2px #ff6200;
}

.cadastro {
    margin-bottom: 15%;
    margin-top: 3%;
}

.user,
.senha,
.negocio,
.atividade,
.descricao{
    font-weight: bold;
    font-size: 18px;
    margin-top: 10%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.inputBox {
    position: relative;
    width: 100%;
}

.inputBox input {
    width: 90%;
    padding-right: 35px;
    font-size: 16px;
}

.global{
    width: 100%;
    height: 300px;
}

.boxUser, .boxSenha, .boxNegocio, .boxAtividade, .boxDescricao{
    width: 70%;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}